// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-lite-blue{
  background-color:#7fbfff;
}

.bg-lite-orange{
  background-color:#ffbf7f !important;
}

.bg-lite-green{
  background-color:#bfff7f;
}

.max-width-500{
  max-width: 500px !important;
}

.max-width-600{
  max-width: 600px !important;
}

.max-chart-size{
  max-width: 600px !important;
  max-height: 600px !important;
}

.max-width-300{
  max-width: 300px;
}

.max-width-400{
  max-width: 400px !important;
}

.max-width-700{
  max-width: 700px !important;
}

.min-width-500{
  min-width: 500px !important;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}