// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

input, button, select, optgroup, textarea {
  font-family: Lato, "Noto Sans JP", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
}

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bg-mauve{
  font-weight: bold;
  background-color:#E99787 !important;
}

.bg-lagoon{
  background-color:#5EA8A7 !important;
}

.text-warm-gray{
  color:#A49592 !important;
}

.bg-whitewash{
  background-color:#FFFFFF !important;
}

.bg-beige{
  background-color:#EED8C9 !important;
}

button.stripe-button-el,
button.stripe-button-el>span {
  background-color:#E99787;
  background-image: none;
}

.page-item.active .page-link {
  background-color:#A49592 !important;
  border-color:#A49592 !important;
}

.bg-dark-bluish-gray{
  background-color:#727077 !important;
}

.bg-lite-green{
  background-color:#bfff7f;
}

.max-width-500{
  max-width: 500px !important;
}

.w-90 {
  width: 90%;
}

.max-width-1400{
  max-width: 1400px !important;
}

.max-width-600{
  max-width: 600px !important;
}

.max-width-150{
  max-width: 150px !important;
}

.max-chart-size{
  max-width: 600px !important;
  max-height: 600px !important;
}

.max-product-img-size{
  max-width: 350px !important;
  max-height: 450px !important;
}

.preview-image-size {
  max-width: 200px !important;
  max-height: 200px !important;
}

.max-width-300{
  max-width: 300px;
}

.max-width-400{
  max-width: 400px !important;
}

.max-width-700{
  max-width: 700px !important;
}

.min-width-500{
  min-width: 500px !important;
}

.height-40{
  height: 40px !important;
}

.min-height-700{
  min-height: 700px !important;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.stripe-button-el {
  background-color:#A49592 !important;
  border-color:#A49592 !important;
}